.docs-nav {
    @extend .navbar,
        .navbar-expand,
        .navbar-dark,
        .bg-dark,
        .shadow-lg,
        .position-fixed,
        .top-0,
        .rounded-4,
        .py-0,
        .mt-1,
        .border,
        .border-primary,
        .d-flex,
        .px-1;

    --bs-bg-opacity: 0.9;
    --bs-border-opacity: 0.5;

    backdrop-filter: blur(3px) saturate(125%);
    z-index: 400;
    margin-left: 3.5rem;

    .navbar-brand {
        @extend .d-flex, .gap-2;
    }

    .navbar-nav {
        @extend .flex-grow-1;
    }

    .nav-link {
        position: relative;
    }

    .nav-link.active::after {
        content: "•";
        opacity: 0.5;
        position: absolute;
        bottom: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
    }
}
