// @import "./theme";
$theme: rgb(38, 31, 49);
$primary: rgb(140, 130, 172);
$sidebar-indicator-color: $primary;
@import "../../dist/style.scss";

.welcome-jumbotron {
    .display-1 {
        font-family: "Work Sans", sans-serif;
        font-weight: "600";
    }
}

.recipe-markdown {
    img {
        max-width: 100%;
    }

    .headline-primary {
        @extend .mt-4;
        @extend .mb-3;

        & > a {
            color: inherit;
        }
    }

    h2.headline-primary,
    h1.headline-primary {
        @extend .page-header;
    }

    > .headline-primary:first-child {
        @extend .display-4;
    }
}

.docs-min-height-100vh {
    min-height: 100vh;
}

pre {
    @extend .rounded;
}

// For Bootstrap Icons
.bi {
    display: inline-block;
    vertical-align: -0.125em;
}

.docs-blog-content {
    padding: 0 calc(50% - 24rem);
}

@import "./web-components.scss";
