@import "./theme";
@import "../../dist/style.scss";

@import "~highlight.js/styles/github.css";

.welcome-jumbotron {
    background-image: linear-gradient(transparent 60%, rgba(0,0,0,.05) 100%);

    .display-1 {
        font-family: "Work Sans", sans-serif;
        font-weight: "600";
    }
}

.recipe-markdown {
    img {
        max-width: 100%;
    }

    .headline-primary {
        @extend .mt-4;
        @extend .mb-3;
        
        & > a {
            color: inherit;
        }
    }

    h2.headline-primary,
    h1.headline-primary {
        @extend .page-header;
    }


    > .headline-primary:first-child {
        @extend .display-4;
    }
}