.web-components {
    // Collides with Blue React's --blue-sidebar-width, that's why we need to reset it here to
    // Web Component's default value
    --blue-sidebar-width: 16.563rem;

    --blue-sidebar-bg: rgba(35, 31, 49, 0.9);
    --blue-sidebar-button-bg: transparent;
    --blue-sidebar-button-bg-hover: rgba(255, 255, 255, 0.5);
    --blue-sidebar-button-border-radius: 0.5rem;
    --blue-sidebar-button-margin: 0.25rem;
    --blue-sidebar-button-transition: background 0.2s;
    --blue-control-size: calc(3rem - var(--blue-sidebar-button-margin) * 2);
    --blue-sidebar-width-closed: calc(var(--blue-control-size) + var(--blue-sidebar-button-margin) * 2);
    --blue-sidebar-transition: width 0.5s ease-in-out;
}

.docs-layout {
    display: flex;
    height: 100vh;
}

.web-components .router-page {
    position: initial;
    width: initial;
    height: initial;
    flex-grow: 1;
}

.web-components .blue-page {
    margin-left: 0 !important;
}

.web-components blue-sidebar .blue-menu-item {
    color: white;
}

.web-components blue-sidebar[closed] .docs-sidebar-logo-link {
    display: none !important;
}

.web-components blue-sidebar:not([closed]) .blue-menu-item {
    width: 100%;
}

.web-components blue-sidebar:not([closed]) .blue-menu-item-label {
    display: flex;
}

/* Make sidebar overlay over content on smaller screens */
@media (max-width: 992px) {
    .web-components blue-sidebar {
        position: absolute !important;
        top: 0;
        bottom: 0;
    }

    .web-components blue-sidebar:not([closed]) {
        box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.267);
    }

    .web-components blue-sidebar + * {
        margin-left: var(--blue-sidebar-width-closed);
    }
}

.web-components blue-sidebar {
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
}
