.blue-wc-web-components {
    // Collides with Blue React's --blue-sidebar-width, that's why we need to reset it here to
    // Web Component's default value
    --blue-sidebar-width: 16.563rem;

    --blue-sidebar-bg: var(--blue-theme, #007bff);
    --blue-sidebar-button-bg: transparent;
    --blue-sidebar-button-bg-hover: hsla(
        var(--blue-sidebar-color-h, 0),
        var(--blue-sidebar-color-s, 100%),
        var(--blue-sidebar-color-l, 100%),
        0.5
    );
    --blue-sidebar-button-border-radius: 0.5rem;
    --blue-sidebar-button-margin: 0.25rem;
    --blue-sidebar-button-transition: background 0.2s;
    --blue-control-size: calc(3rem - var(--blue-sidebar-button-margin) * 2);
    --blue-sidebar-width-closed: calc(var(--blue-control-size) + var(--blue-sidebar-button-margin) * 2);
    --blue-sidebar-transition: width 0.5s ease-in-out;
    display: flex;
}

.blue-wc-web-components .router-page {
    position: initial;
    width: initial;
    flex-grow: 1;
}

.blue-wc-web-components .blue-page {
    margin-left: 0 !important;
}

.blue-wc-web-components blue-sidebar .blue-menu-item {
    color: hsl(var(--blue-sidebar-color-h, 0), var(--blue-sidebar-color-s, 100%), var(--blue-sidebar-color-l, 100%));
}

.blue-wc-web-components blue-sidebar:not([closed]) .blue-menu-item {
    width: 100%;
}

.blue-wc-web-components blue-sidebar:not([closed]) .blue-menu-item-label {
    display: flex;
}

/* Make sidebar overlay over content on smaller screens */
@media (max-width: 992px) {
    .blue-wc-web-components blue-sidebar {
        position: absolute !important;
        top: 0;
        bottom: 0;
    }

    .blue-wc-web-components blue-sidebar:not([closed]) {
        box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.267);
    }

    .blue-wc-web-components blue-sidebar + * {
        margin-left: var(--blue-sidebar-width-closed);
    }
}

.blue-wc-web-components blue-sidebar {
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
}
