{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false // Verhindert die Transformation von ES-Modules
            }
        ],
        "@babel/preset-react",
        [
            "@babel/preset-typescript",
            {
                "isTSX": true,
                "allExtensions": true
            }
        ]
    ]
}
